@page
@model RegisterModel
@{
    ViewData["Title"] = "Zarejestruj się";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div @*class="col-md-4"*@>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <textarea asp-for="Input.Description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Input.UploadFile"></label>
                <input asp-for="Input.UploadFile" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.IsMusician"></label>
                <input asp-for="Input.IsMusician" id="input-is-musician" onclick="collide()" />
            </div>
            <div class="form-group" id="price-collide" style="display: none">
                <label asp-for="Input.Price"></label>
                <input asp-for="Input.Price" class="form-control" />
            </div>
            <div class="form-group" id="desc-collide" style="display: none">
                <label asp-for="Input.LongDescription"></label>
                <textarea asp-for="Input.LongDescription" class="form-control"></textarea>
            </div>
            <div class="form-group" id="first-instr-collide" style="display: none">
                <label asp-for="Input.FirstInstrument"></label>
                <select asp-for="Input.FirstInstrument" class="form-control"
                        asp-items="ViewBag.Instruments">
                </select>
            </div>
            <div class="form-group" id="second-instr-collide" style="display: none">
                <label asp-for="Input.SecondInstrument"></label>
                <select asp-for="Input.SecondInstrument" class="form-control"
                        asp-items="ViewBag.Instruments">
                </select>
            </div>
            <div class="form-group" id="teacher-collide" style="display: none">
                <label asp-for="Input.TeacherSelected"></label>
                <input asp-for="Input.TeacherSelected" />
            </div>
            <div class="form-group" id="jamming-collide" style="display: none">
                <label asp-for="Input.JammingSelected"></label>
                <input asp-for="Input.JammingSelected" />
            </div>
            <div class="form-group" id="session-collide" style="display: none">
                <label asp-for="Input.SessionSelected"></label>
                <input asp-for="Input.SessionSelected" />
            </div>
            <button type="submit" class="btn btn-primary px-4 mb-3">Zarejestruj się</button>
        </form>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

<script>
    function collide() {
        let checkbox = document.querySelector('#input-is-musician');
        let price = document.querySelector('#price-collide');
        let desc = document.querySelector('#desc-collide')
        let firstInstr = document.querySelector('#first-instr-collide');
        let secondInstr = document.querySelector('#second-instr-collide');
        let teacher = document.querySelector('#teacher-collide');
        let jamming = document.querySelector('#jamming-collide');
        let session = document.querySelector('#session-collide');

        if (checkbox.checked) {
            price.style.display = 'block';
            desc.style.display = 'block';
            firstInstr.style.display = 'block';
            secondInstr.style.display = 'block';
            teacher.style.display = 'block';
            jamming.style.display = 'block';
            session.style.display = 'block';
        } else {
            price.style.display = 'none';
            desc.style.display = 'none';
            firstInstr.style.display = 'none';
            secondInstr.style.display = 'none';
            teacher.style.display = 'none';
            jamming.style.display = 'none';
            session.style.display = 'none';
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
